header {
  background-color: rgba(0, 0, 0, 0.5);  
  padding: 0.5rem 0; /* reduced padding */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(175, 162, 198, 0.2);
  /* opacity: 0.5;  */
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
  height: 60px; /* fixed height for better control */
}

header .logo {
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1rem; /* sabke beech gap */
  padding: 0.5rem 1rem;
  border-radius: 10px;
  justify-content: center;
}

nav ul li a {
  text-decoration: none;
  border: 1px solid #e0e0e0; /* Light border */

  padding: 0.5rem 1rem;
opacity: 0.5;
  border-radius: 5px;
 
  font-weight: 600;
}

nav ul li a:hover {
  background-color: rgba(0, 0, 0, 0.5);  
  color: white;
}



header nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  transition: color 0.3s ease;
  /* font-weight: 500; */
}

header nav ul li a:hover {
  color: #00aaff;
}

body {
  padding-top: 60px; /* match header height to avoid overlap */
}
